body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Philosopher', sans-serif; }

.nav-header {
  position: fixed;
  right: 0;
  margin: 10px 40px; }
  .nav-header .user li {
    display: inline-block;
    margin: 5px 25px; }
    .nav-header .user li button {
      height: 40px;
      width: 150%;
      border: transparent;
      border-radius: 5px;
      background-color: #136c8b;
      color: white;
      font-size: 20px;
      outline: none; }

.landing-page-container .our-brand {
  position: relative;
  background-image: url("../stylesheet/images/business-background (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  height: 50vh; }
  .landing-page-container .our-brand .brand-logo img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 35%;
    width: 20%;
    border: transparent;
    border-radius: 5px;
    z-index: 5; }
.landing-page-container .about-weconnect {
  width: 90%;
  margin: auto;
  background-color: white;
  background-image: url("../stylesheet/images/hand (1).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 90% 50%;
  position: relative;
  height: 100%; }
  .landing-page-container .about-weconnect .wrap {
    width: auto;
    height: 100%;
    max-width: 55%;
    min-height: 100%; }
    .landing-page-container .about-weconnect .wrap h2 {
      font-weight: bolder;
      font-size: 30px;
      margin: 5% 20% 0; }
    .landing-page-container .about-weconnect .wrap p {
      font-size: 20px;
      padding: 0 20% 5%;
      line-height: 1.5em; }
.landing-page-container .contact {
  background-image: url("../stylesheet/images/backgroung.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: auto;
  padding: 2%;
  height: auto; }
  .landing-page-container .contact p {
    width: 40%;
    margin: auto;
    max-width: 50%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 2%;
    line-height: 1.4em;
    color: white; }
  .landing-page-container .contact .social {
    display: flex;
    justify-content: center; }
    .landing-page-container .contact .social img {
      padding: 0 5px;
      width: 50px;
      transition: .5s; }
      .landing-page-container .contact .social img:hover {
        transform: scale(1.2) rotate(360deg); }

.login-body {
  position: absolute;
  text-align: center;
  background-image: -webkit-linear-gradient(left, #136c8b, #003b4e);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh; }

.login-container {
  max-height: 90vh;
  padding-top: 3%;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

.my-logo img {
  height: 7%;
  width: 10%; }

.input-box {
  background-color: white;
  border: 3px solid transparent;
  border-radius: 5px;
  margin: 20px auto;
  padding: 30px 0;
  width: 30%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }
  .input-box input {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid teal;
    padding: 13px;
    width: 80%;
    outline: none;
    font-size: 20px; }
  .input-box button {
    height: 50px;
    width: 85%;
    background-color: #15b78e;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bolder; }
  .input-box .create-account {
    margin-top: 30px; }
    .input-box .create-account p {
      padding: 0  7%;
      margin-top: 10px; }
      .input-box .create-account p a {
        text-decoration: transparent;
        color: #545555;
        font-size: 20px; }
        .input-box .create-account p a span {
          color: #458ec5; }

@media screen and (max-width: 1050px) {
  .input-box {
    width: 90%; }

  .my-logo img {
    height: 20%;
    width: 25%; } }
@media screen and (max-width: 450px) {
  * {
    box-sizing: border-box; }

  .nav-header {
    position: fixed;
    z-index: 5;
    margin: auto 15px; }
    .nav-header .user li {
      display: inline-block;
      margin: 5px 5px; }
      .nav-header .user li button {
        height: 40px;
        width: 100%; }

  .landing-page-container .our-brand .brand-logo img {
    height: 20%;
    width: 30%;
    z-index: 2; }
  .landing-page-container .about-weconnect {
    background-image: none; }
    .landing-page-container .about-weconnect .wrap {
      width: auto;
      height: 100%;
      max-width: 100%;
      min-height: auto; }
      .landing-page-container .about-weconnect .wrap h2 {
        font-weight: bolder;
        font-size: 30px;
        margin: 5%  5%; }
      .landing-page-container .about-weconnect .wrap p {
        font-size: 20px;
        padding: 0  5%;
        line-height: 1.5em; }
  .landing-page-container .contact {
    width: 100vw;
    max-width: 100%; }
    .landing-page-container .contact p {
      width: 100vw;
      font-size: 17px;
      margin: auto;
      max-width: 80%;
      text-align: center;
      padding: 8%;
      line-height: 1.4em;
      color: white; }
    .landing-page-container .contact .social img {
      width: 35px;
      transition: .5s; }
      .landing-page-container .contact .social img:hover {
        transform: scale(1.2) rotate(360deg); }

  .push p {
    font-size: 17px !important; } }
.push {
  background-color: rgba(235, 224, 224, 0.87);
  width: auto;
  margin: auto;
  padding: 1%; }
  .push p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px; }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-bottom: 5px;
  background-color: #136c8b;
  background-repeat: no-repeat; }
  .navbar .link-container {
    display: flex;
    justify-content: space-between; }
    .navbar .link-container img {
      width: 150px; }
  .navbar a {
    color: white !important;
    font-size: 20px; }
  .navbar .nav-tab {
    display: flex; }

.full-page {
  background-image: url("../stylesheet/images/texture-background.png");
  width: 100%;
  height: 97vh;
  position: relative; }
  .full-page * {
    box-sizing: border-box; }
  .full-page .content-page {
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between; }
    .full-page .content-page .register-business {
      position: relative;
      width: 69%;
      height: 100%;
      border-radius: 20px;
      background-image: -webkit-linear-gradient(top, #136c8b, #003b4e);
      background-size: cover; }
      .full-page .content-page .register-business h2 {
        text-align: center;
        color: white;
        margin: 25px auto;
        padding-bottom: 2%; }
      .full-page .content-page .register-business .panel-body {
        width: 80%;
        margin: auto; }
        .full-page .content-page .register-business .panel-body button {
          height: 48px;
          width: 100%;
          background-color: #15b78e;
          border-radius: 5px;
          color: white;
          font-size: 20px;
          font-weight: bolder; }
        .full-page .content-page .register-business .panel-body input:focus::-webkit-input-placeholder {
          color: transparent; }
        .full-page .content-page .register-business .panel-body input:focus:-moz-placeholder {
          color: transparent; }
        .full-page .content-page .register-business .panel-body input:focus::-moz-placeholder {
          color: transparent; }
        .full-page .content-page .register-business .panel-body input:focus::-moz-placeholder {
          color: transparent; }
        .full-page .content-page .register-business .panel-body input:focus:-ms-input-placeholder {
          color: transparent; }
  .full-page .business-story {
    border-radius: 20px;
    width: 29%;
    height: 100%;
    background-image: url("../stylesheet/images/advert design.png");
    background-size: cover;
    background-repeat: no-repeat; }

@media screen and (max-width: 450px) {
  .navbar {
    width: 100%;
    z-index: 1; }
    .navbar .link-container {
      display: inline; }
      .navbar .link-container img {
        width: 100px; }
    .navbar a {
      color: white !important;
      font-size: 20px; }

  .full-page {
    width: auto;
    height: 100vh;
    position: relative; }
    .full-page * {
      box-sizing: border-box; }
    .full-page .content-page {
      width: 70%;
      height: 70vh; }
      .full-page .content-page .register-business {
        width: auto;
        height: auto; }
        .full-page .content-page .register-business h2 {
          font-size: 20px !important;
          margin: 25px auto;
          padding-bottom: 2%; }
      .full-page .content-page .business-story {
        display: none; } }

/*# sourceMappingURL=main.css.map */
