<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheet/main.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <main class="landing-page-container">
        <section class="our-brand">
            <nav class="nav-header">
                <div class="brand-logo">
                    <img src="../stylesheet/images/logo-with-background.png" alt="WEconnect">
                </div>
                <ul class="user">
                    <li>
                        <a href="../Html/register.html">
                            <button type="submit">Sign Up</button>
                        </a>
                    </li>
                    <li>
                        <a href="../Html/login.html">
                            <button type="submit">Login</button>
                        </a>
                    </li>
                    <li>
                            <a href="../Html/all-business-page.html">
                                <button type="submit">Catalogue</button>
                            </a>
                        </li>
                </ul>
            </nav>
        </section>
        <section class="about-weconnect">
            <div class="wrap">
                <h2>Business made easy!</h2>
                <p>
                    WeConnect provides a platform that brings businesses and individuals together. This platform creates
                    awareness for businesses and gives the users the ability to write reviews about the businesses they
                    have interacted with. This is also an opportunity to get insight as to starting up a business. Explore
                    this amazing business relationship App and get experienced in the experience!
                </p>
            </div>
        </section>
        <section class="contact">
            <p>
                WEconnect is here to provide you with more business information, answer any business related question and also create an
                effective work around for your business idea. contact us via icons below
            </p>
            <div class="social">
                <a href="#">
                    <img src="../stylesheet/images/facebook-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../stylesheet/images/instagram-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../stylesheet/images/twitter-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../stylesheet/images/google-icon.png" alt="">
                </a>
            </div>
        </section>
    </main>
    <footer class="index-footer">
        <p>
            Policies: Terms of use | Privacy| Authentic Items
            Copyright &copy; WeConnect.herokuapp.com. All Rights reserved.
            Designed by clintfidel
        </p>
    </footer>
</body>

</html>