<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheet/main.css">
    <title>Document</title>
</head>

<body>
    <div class="login-body">
        <main class="login-container">
            <div class="my-logo">
                <a href="../Html/landing-page.html">
                    <img src="../stylesheet/images/logo.png" alt=" WEconnect">

                </a>
            </div>
            <div class="input-box">
                <form action="">
                    <input type="text" placeholder="Fullname" />
                    <input type="text" placeholder="username" />
                    <input type="text" placeholder="email" />
                    <input type="text" placeholder="password" />
                    <input type="text" placeholder="connfirm-password" />
                    <button type="button">Sign Up</button>
                </form>
                <div class="create-account">
                    <p>
                        <a href="../Html/login.html">Registered Already? Log In
                            <span>Here</span>
                        </a>

                    </p>
                </div>
            </div>
        </main>

    </div>
</body>

</html>