$backgroundcolor1: #136c8b;
$backgroundcolor2: #003b4e;
$margin: 5px;
$size: 10px;
$radius: 5px;

body {
    width: 100%;
    // height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    min-height: 100vh;
    font-family: 'Philosopher', sans-serif;
    background-image: url('/images/app-background.png');  
}

//landing-page
.nav-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    .user {
        margin: 0;
        padding: 0;
        li {
            margin-left: 10px;
            display: inline-block;
            font-family:  'Philosopher', sans-serif;
            button {
                height: 40px;
                padding: 5px;
                border: transparent;
                border-radius: $radius;
                background-color: rgba(19, 108, 139, 1);
                color:  white;
                font-size: ($size * 2);
                outline: none;
            }
        }
        
    }
   
}

.landing-page-container {
    background-color: #fff;
    .our-brand {
        // box-sizing: border-box;
        position: relative;
        background-image: url('/images/business-background-1.png');
         background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        .brand-logo {
            img {
                margin: auto;
                width: 150px;
                border: transparent;
                border-radius: $radius;
                z-index: 5
            }
        }
        
    }
    
    .about-weconnect {
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 20px;
        background-image: url('/images/connect.png');
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: 90% 70%; 
        .wrap {
            width: 100%;
            height: 100%;
            max-width: 55%;
            min-height: 100%;
            margin-right: 20%;
            h2 {
                font-weight: bolder;
                font-size: ($size * 3);
                margin: 0 20%;
            }

             p {
                font-size: 20px;
                padding: 10px 10%;
                line-height: 1.5em;
            }
        }
    }
    
    .footer {
        background-image: url('/images/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: auto;
        padding: 2%;
        height: auto;
        display: flex;
         width: auto;
        justify-content: space-between;
        color: white;
       .footer-text {
        font-size: ($size * 2 - 2);
        max-width: 20%;
       }
       .contact-me {
           position: relative;
           max-width: 35%;
           line-height: 1.4em;
           font-size: ($size * 2);
           text-align: center;
           margin-top: auto;
           margin-left: 10%;
           margin-bottom: auto;

       }
        .social {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 3%;
            img {
                padding: 10px $margin;
                width: 40px;
                transition: .5s;
                &:hover {
                    transform: scale(1.2) rotate(360deg);
                }
                
            }
        }
    }    
}

//login and register pages

.login-body {
    position: absolute;
    text-align: center;
    background-image: -webkit-linear-gradient(left, $backgroundcolor1,$backgroundcolor2) ;  
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
}

.login-container {
    max-height: 100vh;
    padding-top: 3%;
    position: relative;
    top: 0; 
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; 
}

.my-logo { 
    img {
        height: 7%;
        width: 10%
    }
}

.input-box { 
    position: relative; 
    background-color: white;
    border: 3px solid transparent;
    border-radius: $radius;
    margin: 10px auto;
    padding: 20px 0;
    width: 30%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
   
    input {
        display: flex;
        flex-direction: column;
        margin: ($margin * 2) auto;
        border-radius: $radius;
        border: 1px solid teal;
        padding: 10px;
        width:80%;
        outline: none;
        font-size: ($size * 2);
    }
   
    button {
        height:40px;
        width:80%;
        background-color: #15b78e;
        border-radius: $radius;
        color: white;
        font-size: ($size * 2);
        font-weight: bolder;
        cursor: pointer;
    }

    .create-account {
        margin-top: ($margin * 4);
        p {
            padding: 0  7%;
            margin-top: ($margin * 2);
            a {
                text-decoration: transparent;
                color: #545555;
                font-size: ($size * 2);
                span {
                    color: #458ec5
                }
            }
        }
    }      
}

@media screen and (max-width: 1050px) {
    .input-box {
        width: 90%
    }

    .my-logo { 
        img {
            height: 20%;
            width: 25%
        }
       
    }

    .landing-page-container {
        .footer {
            display: flex;
            flex-direction: column;
            .footer-text {
                display: inline;
                text-align: center; 
                font-size: ($size * 2 - 1);
                max-width: 100%
            }
            .contact-me {
                max-width: 100%;
                border-bottom: 1px solid white;
                margin-left: 0;
            }
            .social {
                position: relative;
                display: flex;
                flex-direction: row;
                margin: auto;
                img {
                    padding: 5px $margin;
                    width: 40px;
                    transition: .5s;
                    &:hover {
                        transform: scale(1.2) rotate(360deg);
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    * {
        box-sizing: border-box;
    }
    .nav-header {
        .user {
            li {
                margin-right: $margin;
                margin-bottom: $margin * 3;
                display: block;
                button {
                    height: 40px;
                    width: 100%;
                    cursor: pointer;
                }
            }
            
        }
       
    }
    .landing-page-container {
      .our-brand {
        .brand-logo {
            img {
                width: 100px;
                z-index: 2;
               
            }
        }
      }
     
      .about-weconnect {
       background-image: none;
        .wrap {
            width: auto;
            height: 100%;
            max-width:100%;
            min-height: auto;

            h2 {
                font-weight: bolder;
                font-size: ($size * 3);
                margin: 5%  5%;
            }

            p {
            font-size: ($size * 2 ) ;
            padding: 0  5%;
            line-height: 1.5em;
            }
            
        }
        
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        .footer-text {
            display: inline;
            text-align: center; 
            font-size: ($size * 2 - 1);
            max-width: 100%
        }
        .contact-me {
            max-width: 100%;
            border-bottom: 1px solid white;
        }
        .social {
            position: relative;
            display: flex;
            flex-direction: row;
            margin: auto;
            img {
                padding: 5px $margin;
                width: 50px;
                transition: .5s;
                &:hover {
                    transform: scale(1.2) rotate(360deg);
                }
                
            }
        }
    }
 }
    
}

// footer
.business-footer {
    background-color: $backgroundcolor1;
    padding: 10px 0;
    color: white;
    font-size:15px;
    clear: both;
    margin-top: 5%;
}

// business- page
.business-nav {
    background-color:$backgroundcolor1;
    padding: 1% 5%;
    .link {
        color: #fff !important;
    }
}

.register-wrapper {
    margin: 6% 4% 7% 4%;
}

.register-business {
    border-radius: 20px;
    background-image: -webkit-linear-gradient(top, $backgroundcolor1,$backgroundcolor2) ;  
    background-size: cover;
    padding: 5% 5%;
    color: #fff;
}

.register-button {
    height:48px;
    width:100%;
    background-color: #15b78e;
    border-radius: $radius;
    color: white;
    font-size: ($size * 2);
    font-weight: bolder;
    cursor: pointer;
}

.image-wrapper {
    border-radius: 20px;
    border:2px solid #136c8b;
    padding: 5% 5%;
}

.background {
    background-image: url('/images/app-background.png');  
}

@media screen and (max-width: 650px) {
    .image-wrapper {
       margin-top: 5%;
    }
}

// edit modal
.modal-dialog {
    transition: .5s;
}
    .modal-header {
        background-color: $backgroundcolor1 !important;
        color: white;
        
    }
    .modal-footer {
        background-color: $backgroundcolor1 !important;
        color: white;
        .btn-primary {
            background-color: $backgroundcolor2 !important;
            border: transparent;
        }
    }

// view business page

.business-body {
    background-image: url('/images/app-background.png');
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    .business-image {
         margin: 7% auto 0;
         position: relative;
         width: 80%;
         height: 400px;
         
         img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
         }
         .text-center {
             position: absolute;
             top:47%;
             right: 0;
             bottom: 0;
             left: 0;
              margin: auto;
             span {
                 font-size: ($size * 3);
                 font-weight:bolder;
                border: 1px solid transparent;
                border-radius: 3%; 
                background-color:rgba(19, 108, 139, .9);
                 padding: 1%;
                 color: white
             }
         }
    }
    .grouped-buttons {
        font-size: ($size * 3);
        margin: 2% 30%;
        display: flex !important;
        width: auto;
        justify-content: space-between !important;
        a {
            text-decoration: none;
            
        }
        .active {
            color: rgba(19, 108, 139, .9) !important;
            padding: 5px;
            border-radius: $radius;
        }
        .bus-info {
            color: rgba(19, 108, 139, .9);
        }
        .bus-reviews {
            color: rgba(19, 108, 139, .9);
        }
    }
    .content-display {
        background-color:white;
        width: 80%;
        height: auto;
        color:  $backgroundcolor1;
        padding: 2%;
        border-radius: 2%;
        margin: auto auto 10%;
        box-shadow: 0 0 50px rgba(0, 0, 0, .5);
        h3 {
            font-weight: bolder;
            text-decoration: underline;
        }
        .bus-info-details {
           .business-content {
               h5 {
                   padding: 1% 0;
                   line-height: 1.8em;
               }
               span{
                   font-size: ($size * 2 - 2);
                   font-weight: bolder;
                   text-transform: uppercase;
               }
           }
           .icon-Images {
                display: flex;
                align-items: center;
                cursor: pointer;
                img {
                    width: 6%;
                    margin: auto;
                }
           }
        }
    }
      .post-form textarea {
        background: #fbfbfb;
        margin-top: 5%;
        width: 100%;
        height: 150px;
        border: 1px solid #eee;
        border-radius: 3px;
        resize:none;
        font-size: 1em;
        box-shadow: 0 2px 7px rgba(0,0,0,.3);
      }
      .send-button {
        background-color: #15b78d;
        color: #ffff;
        float: right;
        padding-right: 4%;
        padding-left: 4%;
      }
      .send-button:hover {
        color: #ffff;
      }
      
      .comment-contents {
        position: relative;
        background: #e4e3e3;
        color: #000000;
        padding: 15px;
        padding-bottom: 10px;
        border-radius: 3px;
        margin-bottom: 10px;
        box-shadow: 0 2px 2px rgba(0,0,0,.3);
      }
      
      .comment-contents:before,
      .comment-contents:after
      {
        position: absolute;
        width: 0; height: 0; top: 30px;
        left: -20px;
        content: '';
        border: 10px solid transparent;
        border-right-color: #e4e3e3;
      }
      
      .comment-author {
        color: #ff6c6c;
      }
      
      .comment-author:hover {
        color: #ff6c6c;
        text-decoration: none;
      } 
}

//pagination
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $backgroundcolor1;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .page-link:focus, .page-link:hover {
    color: #000000;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #ddd;
  }
  
  .pagination li {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin: auto 0;
      line-height: 1.25;
      color: gray;
      background-color: $backgroundcolor1;
      border: 1px solid #ddd;
      cursor: pointer;
  }
  
  .pagination li.active {
    background-color: gray !important;
    a {
        outline: none !important;
    }
  }
  
  .pagination li a {
    color: #fff !important;
  }
  
  .pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin-top: 25px;
  }

// user profile
.user-profile {
    min-height: calc(100vh - 158px);
}
.data-key {
    font-size: ($size * 2 - 3);
    font-weight: bolder;
}
.key-value {
    font-size: ($size * 2 - 6);
    font-weight: bold;
}

.btn-info {
    margin-left: 1.5%;
    font-size: ($size * 2 - 3);
    cursor: pointer;
}

.img-wrapper {
    width: 300px;
    height: 300px;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-collapse {
    align-self: flex-end;
}

.dropdown-menu {
    min-width: 9rem;
    padding: 2%;
}

a {
    cursor: pointer;
}

.card-wrapper {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    margin-bottom: 15px;
    border-radius: 4px;
    .text {
        color: black;
        font-size: ($size * 2 - 2);
        padding: 2%;
    }
    .views {
        position: relative;
        margin-top: 2%;
        margin-bottom: 0%;
    }
    .image {
        width: auto;
        background-color: rgba(0,0,0,0.5);
        border-radius: 4px;
        height: 300px;
        padding-left: 0;
        padding-right: 0;
    } 
    .business-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;

    }
}

.card-container {
    background-color: #fff;
    padding: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 2% auto;
    min-height: calc(100vh - 58px);
}

.profile-container {
    background-color: #fff;
    padding: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 10% auto;
}

.button-container {
    margin: 5% 0;
    a:hover {
        color: #fff;
        text-decoration: none;
    }
}

.view-button {
    background-color: $backgroundcolor1;
    padding: 1.5%;
    border-radius: $radius;
    color:white;
    text-decoration: none;
}

.contain-form {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 3%;
    padding: 0.6% 1%;
    ::placeholder { 
        color: white;
    }
}

.search-button {
    width: 100%;
    background-color: $backgroundcolor1;
    padding: 4% 0;
    border-radius: $radius;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.search-input {
    width: 100%;
    padding: 2% 2%;
    border-radius: 5px;
    background-color: $backgroundcolor1;
    color: #fff;
    outline: none;
}

.custom-select {
    width: 100%;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.page-not-found {
    min-height: calc(100vh - 160px);
    padding-top: 15%;
    text-align: center;
    margin: auto;
    position: relative;
}

.word-wrap {
    word-wrap: break-word;
}

.ellipse {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}