$backgroundcolor1: #136c8b;
$backgroundcolor2: #003b4e;
$margin: 5px;
$size: 10px;
$radius: 5px;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Philosopher', sans-serif;

  
    
}

//landing-page

.nav-header {
    position: fixed;
    right: 0;
    margin: ($margin * 2) ($margin * 8);
    .user {
        li {
            display: inline-block;
            margin: $margin ($margin * 5);
            font-family:  'Philosopher', sans-serif;
            
            button {
                height: 40px;
                width: 150%;
                border: transparent;
                border-radius: $radius;
                background-color: rgba(19, 108, 139, 1);
                color:  white;
                font-size: ($size * 2);
                outline: none;
            }
        }
        
    }
   
}

.landing-page-container {
    
    .our-brand {
        // box-sizing: border-box;
        position: relative;
        background-image: url('../stylesheet/images/business-background (1).png');
         background-repeat: no-repeat;
        background-size: cover;
        z-index: 3;
        height: 50vh;
        .brand-logo {
            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 35%;
                width: 20%;
                border: transparent;
                border-radius: $radius;
                z-index: 5
            }
        }
        
    }
    
    .about-weconnect {
        width: 90%;
        margin: auto;
        background-color: white;
        background-image: url('../stylesheet/images/hand (1).png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 90% 50%; 
        position: relative;
        height: 100%;
        .wrap {
            width: auto;
            height: 100%;
            max-width: 55%;
            min-height: 100%;

            h2 {
                font-weight: bolder;
                font-size: ($size * 3);
                margin: 5% 20% 0;
            }

            p {
            font-size: ($size * 2 ) ;
            padding: 0 20% 5%;
            line-height: 1.5em;
            }
            
        }
        
    }
    
    .contact {
        background-image: url('../stylesheet/images/backgroung.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: auto;
        padding: 2%;
        height: auto;
        p {
            width: 40%;
            margin: auto;
            max-width: 50%;
            text-align: center;
            font-size: ($size * 2);
            padding-bottom: 2%;
            line-height: 1.4em;
            color: white;
           
        }
        .social {
            position: relative;
            display: flex;
            justify-content: center;
            
            img {
                padding: 0 $margin;
                width: 50px;
                transition: .5s;
                &:hover {
                    transform: scale(1.2) rotate(360deg);
                }
                
            }
        }
        
    }
   
        
}

   



//login and register pages


.login-body {
    position: absolute;
    text-align: center;
    background-image: -webkit-linear-gradient(left, $backgroundcolor1,$backgroundcolor2) ;  
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
}

.login-container {
    max-height: 90vh;
    padding-top: 3%;
    position: relative;
    top: 0; 
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; 
}

.my-logo { 
    img {
        height: 7%;
        width: 10%
    }
   
}

.input-box {
    
    background-color: white;
    border: 3px solid transparent;
    border-radius: $radius;
    margin: 20px auto;
    padding: 30px 0;
    width: 30%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
   
    input {
        display: flex;
        flex-direction: column;
        margin: ($margin * 2) auto;
        border-radius: $radius;
        border: 1px solid teal;
        padding: 13px;
        width:80%;
        outline: none;
        font-size: ($size * 2);
    }
   
    button {
        height:50px;
        width:85%;
        background-color: #15b78e;
        border-radius: $radius;
        color: white;
        font-size: ($size * 2);
        font-weight: bolder
    }

    .create-account {
        margin-top: ($margin * 6);
        p {
            padding: 0  7%;
            margin-top: ($margin * 2);
            a {
                text-decoration: transparent;
                color: #545555;
                font-size: ($size * 2);
                span {
                    color: #458ec5
                }
            }
        }
    }

       
}

@media screen and (max-width: 1050px) {
    .input-box {
        width: 90%
    }

    .my-logo { 
        img {
            height: 20%;
            width: 25%
        }
       
    }
}

@media screen and (max-width: 450px) {
    * {
        box-sizing: border-box;
    }
    .nav-header {
        position: absolute;
        z-index: 5;
        margin: auto ($margin * 3);
        .user {
            li {
                display: inline-block;
                margin: $margin $margin;
    
                button {
                    height: 40px;
                    width: 100%;
                   
                }
            }
            
        }
       
    }
    .landing-page-container {
      .our-brand {
        .brand-logo {
            img {
                height: 20%;
                width: 30%;
                z-index: 2;
               
            }
        }
      }
     
      .about-weconnect {
       background-image: none;
        .wrap {
            width: auto;
            height: 100%;
            max-width:100%;
            min-height: auto;

            h2 {
                font-weight: bolder;
                font-size: ($size * 3);
                margin: 5%  5%;
            }

            p {
            font-size: ($size * 2 ) ;
            padding: 0  5%;
            line-height: 1.5em;
            }
            
        }
        
    }
    

    .contact {

      width: 100vw;
      max-width: 100%;
      p {
          width: 100vw;
          font-size: ($size * 2 - 3);
          margin: auto;
          max-width: 80%;
          text-align: center;
          padding: 8%;
          line-height: 1.4em;
          color: white;
      }
      .social {
          img {

              width: 35px;
              transition: .5s;
              &:hover {
                  transform: scale(1.2) rotate(360deg);
              }  
          }
      }
      
    }
 }
    
 .push {
    display: none;
    }
}


.push{
    position: absolute;
    background-color: $backgroundcolor1; 
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    p {
        padding: 1%;
        margin:0;
        color: white;
        text-align: center;
        font-size: ($size * 2);
    }

}

.index-footer {
    position: relative;
    background-color: rgba(235, 224, 224, 0.87); 
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    p {
        padding: 1%;
        margin:0;
        text-align: center;
        font-size: ($size * 2);
    }
}


// business- page

.navbar {
    position: fixed;;
    width: 100%;
    z-index: 1;
    margin-bottom: 5px;
    background-color:$backgroundcolor1;
    background-repeat: no-repeat;
    .link-container {
        display: flex;
        justify-content: space-between;
        img {
            width: 150px;
        }
    }
       a{
        color:white !important;
        font-size: ($size * 2)
       }
        .nav-tab{
            display: flex;
        }
         
}
    .full-page {
        * {
            box-sizing: border-box;
        }
        background-image: url('../stylesheet/images/app background.png');  
        width: 100%;
        height: 97vh;
        position: relative;
        
        .content-page {
            border-radius: 5px;
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;
            height: 80vh;
            display: flex;
            justify-content: space-between;
            
            .register-business {
                position: relative;
                width: 69%;
                height: 90%;
                border-radius: 20px;
                background-image: -webkit-linear-gradient(top, $backgroundcolor1,$backgroundcolor2) ;  
                background-size: cover;
                // overflow-y: scroll;
                h2{
                    text-align: center;
                    color: white;
                    margin: ($margin * 5) auto;
                    padding-bottom: 1%;
                }
                .panel-body {
                    width: 80%;
                    margin: auto;

                    button {
                        height:48px;
                        width:100%;
                        background-color: #15b78e;
                        border-radius: $radius;
                        color: white;
                        font-size: ($size * 2);
                        font-weight: bolder
                    }

                     input:focus::-webkit-input-placeholder { color:transparent; }
                     input:focus:-moz-placeholder { color:transparent; } 
                     input:focus::-moz-placeholder { color:transparent; } 
                     input:focus::-moz-placeholder { color:transparent; } 
                     input:focus:-ms-input-placeholder { color:transparent; } 
                     
                    }
                 } 
                
            }
            .business-story {
                border-radius: 20px;
                width: 29%;
                height: 90%;
                background-image: url('../stylesheet/images/advert.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat
            }
        }
    
    @media screen and (max-width: 1100px) {
        .navbar {
           position: absolute;
            width: 100%;
            z-index: 1;
            .link-container {
                display: inline;
               
                img {
                    width: 100px;
                }
            }
               a{
                color:white !important;
                font-size: ($size * 2)
               }
              
        }
        .full-page {
            * {
                box-sizing: border-box;
            }  
            width: auto;
            min-height:100vh;
            height: 90vh;
            position: relative;
            .content-page {
            width: 90%;
            height: 68vh;
            .register-business {
                width: 100%;
                height: auto; 
                .panel-body {
                    button {
                        margin: -5px auto;
                        padding-top: 2px;
                        height:40px;
                        width:100%;
                    }
                }
               
                h2{
                   font-size: ($size * 2) !important;
                    margin: ($margin * 5) auto;
                    padding-bottom: 2%;
                }
            }
            .business-story {
                display: none;
            }
        }        
    }
}


// All Business Page

.main-business {
    position: relative;
    background-image: url('../stylesheet/images/app background.png');  
    width: 100%;
    height: 100vh;
    padding-top: 2%; 
    #contain-form  {
        height: 7vh;
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 70%;
        left: 0;
        background-color: white;
        border: 1px solid grey;
        border-radius: 5px;
        margin: auto !important;
        .search {
            width: 100%;
            height: 5vh;
            border-radius: 5px;
            margin: ($margin *2) 3px;
            input {
                width: 50%;
                height: 5vh;
                border-radius: 5px;
                padding: 0 5px;
                color: white !important;
                background-color: $backgroundcolor1;
                font-size: ($size * 2);
                outline: none;
            }
            ::placeholder { 
                color: white;
                opacity: 1; 
            }
            select {
                width: 30%;
                height: 5vh;
                border-radius: 5px;
                padding: 0 5px;
                outline: none;
            }
            button {
                background-color:$backgroundcolor1;
                width: 20%;
                color: white;
                font: ($size * 2) bolder;
                height: 5vh;
                border-radius: 5px;
                padding: 0 5px;
            }
           
        }
    }
    .jumbotron { 
        background-color: white;
        width: 80%;
        height: 70vh;
        margin: auto;
        position: absolute;
        top: 10%;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
        overflow: scroll;
        a {
            text-decoration: none;
        }
        h1 {
            font-weight: bolder;
        }
        .cataloge {
            background-color: $backgroundcolor1;
            width: 100%;
            height: 55%;
            border-radius: 5%;
            margin: 0 $margin;
            .image {
                width: 40%;
                height: 100%;
                border-radius: 5%;
                background-image: url('../stylesheet/images/bus-image.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
            .text {
                width: 60%;
                height: 100%;
                color: black;
                font-size: ($size*2);
                padding: 0 5%;
                border-radius: 5%;
                background-color: white;
                box-shadow: 0 0 15px rgba(0, 0, 0, .5);
            } 
        }
        
       
    }
    
}




// edit modal
.modal-dialog {
    transition: .5s;
}
    .modal-header {
        background-color: $backgroundcolor1 !important;
        color: white;
        
    }
    .modal-footer {
        background-color: $backgroundcolor1 !important;
        color: white;
        .btn-primary {
            background-color: $backgroundcolor2 !important;
            border: transparent;
        }
    }

// view business page

.business-body {
    background-image: url('../stylesheet/images/app background.png');
    padding-top: 7%;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    .business-image {
        text-align: center;
         position: relative;
         height: 50vh;
         width: auto;
         img {
             height: 50vh;
             width: 70%;
             border-radius: 5%;
             min-height: auto;
         }
         .text-center {
             position: absolute;
             top:47%;
             right: 0;
             bottom: 0;
             left: 0;
              margin: auto;
            //  z-index: 1;
             span {
                 font-size: ($size * 3);
                 font-weight:bolder;
                border: 1px solid transparent;
                border-radius: 3%; 
                background-color:rgba(19, 108, 139, .9);
                 padding: 1%;
                 color: white
             }
         }
    }
    .row {
        font-size: ($size * 3);
        margin: 2% 30%;
        display: flex !important;
        width: auto;
        justify-content: space-between !important;
        a {
            text-decoration: none;
            
        }
        .active {
            background-color: rgba(19, 108, 139, .9);
            color: white !important;
            padding: 5px;
            border-radius: $radius;
        }
        .bus-info {
            color: rgba(19, 108, 139, .9);
        }
        .bus-reviews {
            color: rgba(19, 108, 139, .9);
        }
    }
    .content-display {
        background-color:white;
        width: auto;
        height: auto;
        color:  $backgroundcolor1;
        padding: 2%;
        border-radius: 5%;
        margin-right:  18%;
        margin-bottom: 5%; 
        margin-left:  18%;
        box-shadow: 0 0 50px rgba(0, 0, 0, .5);
        h3 {
            font-weight: bolder;
            text-decoration: underline;
        }
        .bus-info-details {
           .business-content {
               h5 {
                   padding: 1% 0;
                   line-height: 1.8em;
               }
               span{
                   font-size: ($size * 3- 7);
                   font-weight: bolder;
                   text-transform: uppercase;
               }
           }
           .Icon-Images {
               display: flex;
               flex-direction: column;
               width: auto;
               height:20vh;;
               padding: 1%;
               img {
                   height: 45%;
                   width: 8%;
                   padding: 5px;
                   margin-left: auto;
               }
           }
        }
    }
    .post-form {
        width: 160% !important;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 150px;
      }
      .post-form textarea {
        background: #fbfbfb;
        margin-top: 5%;
        width: 100%;
        height: 150px;
          border: 1px solid #eee;
          border-radius: 3px;
          resize:none;
          font-size: 1em;
        box-shadow: 0 2px 7px rgba(0,0,0,.3);
      }
      
      .send-button {
        background-color: #15b78d;
        color: #ffff;
        float: right;
        padding-right: 4%;
        padding-left: 4%;
      }
      
      .send-button:hover {
        color: #ffff;
      }
      
      .comment-contents {
        position: relative;
        background: #e4e3e3;
        color: #000000;
        padding: 15px;
        padding-bottom: 10px;
        border-radius: 3px;
        margin-bottom: 10px;
        box-shadow: 0 2px 2px rgba(0,0,0,.3);
      }
      
      .comment-contents:before,
      .comment-contents:after
      {
        position: absolute;
        width: 0; height: 0; top: 30px;
        left: -20px;
        content: '';
        border: 10px solid transparent;
        border-right-color: #e4e3e3;
      }
      
      .comment-author {
        color: #ff6c6c;
      }
      
      .comment-author:hover {
        color: #ff6c6c;
        text-decoration: none;
      }
      
      
}

@media screen and (max-width: 2000px) {
    .jumbotron {
        .cataloge {
            .text {
                overflow-y: scroll;
               
             }
        }
    }
}

@media screen and (max-width: 1700px) {
    .jumbotron {
        .cataloge {
            height: 60%;
            .text {
                overflow-y: scroll;
               
            }
        }
    }
    .business-body {
        .business-image {
           img {
            margin-top:auto !important;
            height: 50vh !important;
            border-radius: 4%
           }
        }
       
        .content-display {
            border-radius: 20px;
            margin-bottom: 35%; 
            margin-left:  18%;
            box-shadow: 0 0 20px rgba(0, 0, 0, .5);
            h3 {
                font-weight: bolder;
                text-decoration: underline;
            }
            .bus-info-details {
               .business-content {
                   h5 {
                       
                       line-height: 1.4em;
                   }
                   #details {
                      
                       box-shadow: 0 0 20px rgba(0, 0, 0, .5);
                      
                       border-radius: 20px;
                       
                   }
                   span{
                       font-size: ($size * 2);
                   }
                  
               }
              
            }
        }
    }
}



@media screen and (max-width: 800px) {
    .push {
        display: none;
    }
    .jumbotron {
        .cataloge {
            height: 60%;
            .text {
                overflow-y: scroll;
               
            }
        }
    }
    .business-body {
        .business-image {
            
           img {
            margin-top:12% ;
            margin-bottom: 10px ;
            height: 30vh ;
            border-radius: 4%;
           }
        }
        .content-display {
            .bus-info-details {
                .Icon-Images {
                    height: 20vh;
                    img {
                    height: 25%;
                    width:23%;
                    padding: 5px;
                    margin-left: auto;
                    }
                }
            }
           
        }
       
    }
}

@media screen and (max-width: 640px) {
    .push {
        display: none;
    }
    .main-business{ 
        min-width: 30px;
        #contain-form  {
            bottom: 57%; 
            .search {
                margin: ($margin *1) 1px;
            }
        }
        .jumbotron {
            max-height: 55vh;
            .cataloge {
                height: 60%;
                .text {
                    overflow:hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                  
                    h2 {
                      font-size: ($size * 2);
                      font-weight: bolder
                    }
                }
                .text::after {
                    content: 'view more';
                    background-color: $backgroundcolor1;
                    padding: 7px;
                    border-radius: $radius;
                    color: white
                }
                .image {
                    background-size: cover
                }
            }
        }
    }
    .business-body {
        .business-image {
            height: 40vh;
           img {
            padding-top: 17% ;
            height: 40vh !important;
            border-radius: 4%;
            margin-bottom: 3px;
           }
           .text-center {
            top:60%;
            span {
                font-size: ($size * 2);
                padding: 2%;
                color: white
            }
        }
        }
        .row {
            margin: auto 20% ;
            font-size: ($size * 2) !important;
            padding: 3% 0 !important;
        }
    }
}

@media screen and (max-width: 450px) { 
    .nav-header {
         position: relative;
        
    }
    .business-body {
        .business-image {
            height: 40vh ;
           img {
            padding-top: 27% !important;
           }
        }
    }
    .main-business {
        position: absolute;
        margin-top: 10%;
        height: 100vh;
        padding-top: 335px;
        .jumbotron {
          height: 50vh;  
        }
       
    }
   
}
